@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
body {
  margin: 0;
  font-family: "Poppins";
  padding: 0;
  background-color: #f3f3f3;
}
* {
  box-sizing: border-box;
}
.box {
  display: block;
  padding: 20px 26px;
  max-width: 100%;
  max-height: 100%;
  margin: 70px auto;
  background-color: white;
  box-shadow: 1px 1px 3px 2px rgba(144, 142, 142, 0.2);
  color: #777;
}
h1 {
  font-size: 26px;
  text-align: center;
}
span {
  color: rgb(12, 51, 244);
}
.box .element {
  text-align: center;
  margin-top: 10px;
}

.box input {
  background-color: #ebe9e9;
  border: 0.7px solid #bdd;
  width: 100%;
  padding: 10px;
  font-size: 16px;
  margin-top: 13px;
}
img {
  display: block;
  margin: auto;
  height: auto;
  max-width: 200px;
  min-width: 140px;
}